@import url('./colors.css');

.logo {
  color: var(--title-text);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  cursor: pointer;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: var(--btn-bg);
  cursor: pointer;
}

.image {
  width: 384px;
  object-fit: cover;
}

.section-title {
  color: var(--title-text);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 36px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.36px;
}

.section-text {
  color: var(--main-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.page {
    min-width: 1100px;
    color: var(--main-text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 120px;
}

.menu__list {
  display: flex;
  gap: 36px;
  list-style: none;
}

.menu__item-link {
  color: var(--title-text);
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.header__button {
  padding: 14px 16px;
}

/* ------ INTRO ----- */
.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  min-height: 846px;
  padding: 80px 120px;
}

.intro__content {
  /* width: 100%; */
}

.intro__title {
  margin-top: 135px;
  margin-bottom: 24px;
  font-size: 48px;
  letter-spacing: -0.48px;
}

.intro__text {
  max-width: 485px;
  margin-bottom: 60px;
}

.intro__image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 24px;
}

.intro__image-01 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/9;
  background-image: url(../images/intro-01.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.intro__image-01-bg {
  position: absolute;
  bottom: -16px;
  left: 9px;
  width: calc(100% - 18px);
  height: 50%;
  background-image: url(../images/intro-01-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.intro__image-02 {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/11;
  background-image: url(../images/intro-02.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.intro__image-02-bg {
  position: absolute;
  bottom: -16px;
  left: 16px;
  width: calc(100% - 32px);
  height: 50%;
  background-image: url(../images/intro-02-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.intro__image-03 {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/9;
  background-image: url(../images/intro-03.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.intro__image-03-bg {
  position: absolute;
  bottom: -16px;
  left: 9px;
  width: calc(100% - 18px);
  height: 50%;
  background-image: url(../images/intro-03-bg.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.about {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 126px;
  padding: 80px 120px;
}

.about__title {
  margin-bottom: 28px;
}

.about__text {
  margin-bottom: 18px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px 120px;
}

.benefits__card-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 50%;
}

.benefits__card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 126px;
}

.interiers {
  padding-top: 80px;
}

.interiers__title {
  margin-bottom: 38px;
  text-align: center;
}

.interiers__collage {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(3, 1fr);
  max-width: 1440px;
  height: 586px;
  margin: 0 auto;
}

.interiers__image_big {
  grid-column: 1/2;
  grid-row: 1/4;
}

.interiers__image {
  object-fit: cover;
  object-position: center;
}

.reservation {
  padding: 80px 120px;
}

.reservation__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin-bottom: 24px;
}

.reservation__text {
  display: block;
  max-width: 30%;
  margin-bottom: 32px;
  text-align: center;
}

.reservation__list {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  justify-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 88px;
  list-style: none;
}

.reservation__image {
  height: 490px;
  margin-bottom: 32px;
}

.reservation__card-title {
  display: block;
  margin-bottom: 16px;
  color: #000;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.reservation__description {
  min-height: 80px;
  margin-bottom: 32px;
}

.reservation__link {
  color: var(--link-color);
  text-decoration: none;
}

.reviews {
  padding: 80px 120px;
}

.reviews__title {
  margin-bottom: 62px;
  text-align: center;
}

.reviews__slider {
  max-width: 1440px;
  margin: 0 auto;
}

.reviews__slider-list {
  margin-bottom: 24px;
  list-style-type: none;
}

.reviews__slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews__slider-item-image {
  width: 120px;
  height: 120px;
  margin-bottom: 44px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.reviews__slider-item-text {
  max-width: 800px;
  margin-bottom: 40px;
  text-align: center;
}

.reviews__slider-item-author {
  color: var(--title-text);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.reviews__pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style-type: none;
}

.reviews__pagination-link {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--pagination-link);
}

.reviews__pagination-link_active {
  width: 12px;
  height: 12px;
  background-color: var(--pagination-link-active);
}

.footer {
  display: grid;
  grid-template-columns: auto repeat(3, 190px);
  gap: 92px;
  padding: 116px 120px 120px;
  color: var(--footer-text);
  background-color: var(--footer-bg);
}

.footer__logo {
  margin-bottom: 12px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
}

.footer__title {
  max-width: 186px;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.footer__social-list {
  display: flex;
  justify-content: start;
  gap: 20px;
  list-style: none;
}

.footer__social-item {
  display: block;
  width: 32px;
  height: 32px;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__nav-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.footer__nav-title {
  color: #FFF;
  font-weight: 700;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  list-style: none;
}

.footer__nav-link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
}